{% extends "site_base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans 'result' %}</h2>
  
  {% if message %}<p>{{ message }}</p>{% endif %}
  
  <h3>{% trans 'Users added' %}</h3>
  <table>
  {% for u in added %}
    <tr>
    {% for f in u %}
        <td>{{ f }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
  
  <h3>{% trans 'Users skipped' %}</h3>
  <p>{% trans 'Ctrl+C into file to create CSV with only skipped users' %}</p>
  <p>
  {% for u in skipped %}
    {{ u|join:"," }}<br />
  {% endfor %}
  </p>
{% endblock %}