{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans 'password change form' %}{% endblock %}

{% block content %}
  <h2>{% trans 'password change form' %}</h2>
  
  {% if messages %}
  <ul class="messages">
	  {% for message in messages %}
	  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	  {% endfor %}
  </ul>
  {% endif %}
  
  <form action="" method="post">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<p class="submit">
		<input type="submit" value="{% trans "Submit" %}" />
	</p>
  </form>
{% endblock %}